[2020-09-11 16:03] esh1n opened #1 "Tag click causes 404"
![image](https://user-images.githubusercontent.com/2417718/92947914-4f708280-f461-11ea-8e30-e203b4f2a812.png)
 For example please click on **markdown** tag

[2020-09-11 17:52] jeffreytse commented on #1
Hi @esh1n

Now the issue has been addressed. And it is a relative url issue.

Thanks and regards.

[2020-09-11 18:02] jeffreytse commented on #1
Hi @esh1n

This issue has been fixed and the latest gem version ([v1.5.2](https://rubygems.org/gems/jekyll-theme-yat/versions/1.5.2)) has been released.

👍 Welcome to update to the latest version. Thanks for your good help!

Thanks and regards.

[2020-09-12 12:25] pranavkrish04 opened #2 "videos are not shown"
## problem
I added a video to my blog and uploaded that to my Github page the Youtube video does not load. Although this works locally for me.

[2020-09-12 16:39] jeffreytse commented on #2
Hi @pranavkrish04

If you want to make Jekyll site run as if it were local, such as let the custom plugins work properly, [jekyll-deploy-action](https://github.com/jeffreytse/jekyll-deploy-action) could be very useful for you.

Thanks and regards.

[2020-09-12 16:41] pranavkrish04 commented on #2
Thanks a lot for the response. The problem was solved as I used an embed this time. I was using a view link that was the reason.
Thanks again. { I also have responsiveness problems}

[2020-09-12 17:00] pranavkrish04 commented on #2
YUP ! added that and works like a gem. Really cool temoplate !!

[2020-09-12 17:00] #2 closed

[2020-09-12 17:02] jeffreytse commented on #2
Hi @pranavkrish04

The `jekyll-deploy-action` is really awesome and it could give you lots of awesome functions.
Hope you will like it and you could give a star tho the project if you like.

Thanks and regards.

[2020-09-22 14:54] hugopenna opened #3 "bug on line breaking - not considering full works"
Hey there,

I'm using your theme on my blog (hugopenna.com), and I saw that line breaks are not considering full words, I also looked on your demo site, and it has the same issue.

Here some examples:

https://jeffreytse.github.io/jekyll-theme-yat/markdown/2018/12/05/an-exhibit-of-markdown.html
![image](https://user-images.githubusercontent.com/10089299/93898859-15f20f80-fcca-11ea-90a1-6d365303c5a

[2020-09-22 15:14] hugopenna commented on #3
You are really fast :D

[2020-09-22 15:20] jeffreytse commented on #3
Hi @hugopenna

This issue has been fixed and the latest gem version ([v1.5.4](https://rubygems.org/gems/jekyll-theme-yat/versions/1.5.4)) has been released.

👍 Welcome to update to the latest version. Thanks for your good help!

Thanks and regards.

[2020-09-27 22:16] gsaltintas commented on #3
You can also change the attributes related to wrap and wordbreak in `_sass/yat/_layouts.scss` like the following.
[code]
See all overflow option [here](https://css-tricks.com/almanac/properties/o/overflow-wrap/#:~:text=The%20overflow%2Dwrap%20property%20in,layout%20problems%20due%20to%20overflow.)

[2020-09-29 05:10] jeffreytse commented on #3
Hi @gsaltintas

Thanks for your information and the latest gem version ([v1.5.5](https://rubygems.org/gems/jekyll-theme-yat/versions/1.5.5)) has been released.

👍 Welcome to update to the latest version. Thanks for your good help!

Thanks and regards.

[2020-09-30 13:01] dopewind opened #4 "A night mode perhaps"
Just a suggestion

Basically what the title says, a dark mode and this will be perfect

Please do it if you have time

Cheers✌

[2020-09-30 13:08] jeffreytse commented on #4
Hi @dopewind

Thank you for your suggestion, actually, I'm planning the dark mode in future version. If you like this theme, welcome to star it  and the feature is coming.

Thanks and regards.

[2020-09-30 13:23] dopewind commented on #4
Thanks a lot for responding @jeffreytse

I have starred the project and I am looking forward to it, I am going forward with this theme, and when you add the dark mode I'll rebase it and publish

😀

[2020-10-03 06:03] jeffreytse commented on #4
Hi @dopewind

So happy to notice you that the __Night Mode__ has been supported with beautiful effects.
And the latest gem version ([v1.5.4](https://rubygems.org/gems/jekyll-theme-yat/versions/1.5.4)) has been released.

![Night Mode](https://user-images.githubusercontent.com/9413601/94983351-760f6e00-0574-11eb-9494-5303ad6228dc.gif)

👍 Welcome to update to the latest version. Thanks for your good

[2020-10-03 06:08] dopewind commented on #4
Thank you so much @jeffreytse

That looks beautiful

[2020-10-03 06:08] #4 closed

[2020-10-03 12:56] mashsaxena opened #5 "How do I add navigation bar on top right?"
I have tried everything to add navbar in the site but it won't show up

[2020-10-03 13:52] jeffreytse commented on #5
Hi @mashsaxena

Could you provide the details about your site? I really want to help you settle your issues.

Thanks and regards.

[2020-10-03 17:32] mashsaxena commented on #5
Hello, I have actually forked the theme now so it is showing me the desired results. However, I need help in changing the names of the categories. It shows the following:

Example

Jekyll

junk

Markdown

etc.. I'd like to know how I can make the changes. Thank you in advance.

[2020-10-03 18:16] jeffreytse commented on #5
Hi @mashsaxena

The the names of the categories  are auto generated by the meta data of your posts. Such as below:

[code]

Thanks and regards.

[2020-10-05 11:47] MbMa opened #7 "build_and_deploy github issue"
Hi,

First thanks for your amazing work on this theme.

The issue I encounter is when deploying in github pages I recieve an error in the build_and_deploy Actions tab of github :

`Run jeffreytse/jekyll-deploy-action@master
/usr/bin/docker run --name aac2aab594691e412e4bc1afc032c08ff3f133_cb0007 --label aac2aa --workdir /github/workspace --rm -e INPUT_PROVIDER -e INPUT_TOKEN -e INPUT_REPOSITORY -e

[2020-10-05 11:57] jeffreytse commented on #7
Hi @MbMa

I think you can check the [jekyll-deploy-action](https://github.com/jeffreytse/jekyll-deploy-action) usage first, maybe some steps you haven't done.

Thanks and regards.

[2020-10-05 14:00] MbMa commented on #7
Thanks @jeffreytse . This solved my issue.

[2020-10-05 14:00] #7 closed

[2020-10-05 14:06] jeffreytse commented on #7
Hi @MbMa

😃 So happy to help you settle your problem. If you like this theme, you can give __a little star__ to it for future updates.

Thanks and regards.

[2020-10-05 14:27] MbMa commented on #7
sure ! it's done.

[2020-10-17 18:30] alvarovaca opened #8 "Posts not being loaded by [MathjaxProcessor]"
I have the following posts in my **_posts/** folder:

[code]

So when I run the `bundle exec jekyll serve` command, the output from Jekyll Spaceship only shows that it has processed 4 of them all (the first 3 posts are not shown up):

[code]

Anyways, although they are not being shown, they are still accessible in the generated site. This is really not an important issue, but it has drawn my atten

[2020-10-18 09:02] jeffreytse commented on #8
Hi @alvarovaca

Thanks for your report and the [jekyll-spaceship](https://github.com/jeffreytse/jekyll-spaceship) plugin will auto handle the files that contain mathjax math expression, so I think the files that was not being shown are not contain any mathjax expression, the detail you can take a look [here](https://github.com/jeffreytse/jekyll-spaceship#2-mathjax-usage).

Thanks and regards.

[2020-10-18 10:28] alvarovaca commented on #8
@jeffreytse That's strange, since I have been looking deeply in the code and I can't find any math expression that should use MathJax for processing.

[2020-10-18 12:01] jeffreytse commented on #8
Hi @alvarovaca

Yes, it's really strange, could you open a new issue about this problem in the [jekyll-spaceship](https://github.com/jeffreytse/jekyll-spaceship), I will update there if I addressed the problem.

Thanks and regards.

[2020-11-01 15:35] caolanxyz commented on #4
Hi, Just wondering how you would go about making it default to dark mode with the option to toggle to light mode?

[2020-11-01 15:43] jeffreytse commented on #4
Hi @caolanxyz

You can keep in the dark mode by setting the config option `night_mode: "on"` in file `_config.yml`.

Thanks and regards.

[2020-11-22 19:49] #8 closed

[2020-12-04 11:16] jeffreytse opened #11 "Wrong display of code type badge in Firefox browser"
Pseudo element (::before, ::after) has wrong height when its content is empty and padding is non-zero. But Chrome browser and IE11 have no this issue.

I have reported this issue. [See here](https://bugzilla.mozilla.org/show_bug.cgi?id=1680706).

![image](https://user-images.githubusercontent.com/9413601/101157564-490b3480-3665-11eb-9c3a-43baf309b11f.png)

![image](https://user-images.githubuserco

[2020-12-07 14:59] woodenbell opened #12 "Is there a way to disable the TOC?"
First of all I'd like to say that this theme is pretty awesome. However, in my posts I'd like to use titles without generating a Table of Contents in the sidebar. Is there a way to disable the automatic TOC generation or disable it for a specific post?

[2020-12-07 15:12] jeffreytse commented on #12
Hi @woodenbell

You can disable the TOC by the metadata as below:

[code]

🎉  Welcome to give a little STAR for support and future updates.

Thanks and regards

[2020-12-07 15:19] woodenbell commented on #12
Hi @jeffreytse, thanks!

[2020-12-07 15:19] #12 closed

[2020-12-07 15:20] #11 closed

[2020-12-18 01:46] jadeduo opened #13 "How to change the font?"
Can you tell me how to change the font，thank you!

[2020-12-18 02:49] jadeduo commented on #13
yes,I know!

[2020-12-18 02:49] #13 closed

[2020-12-18 02:50] jadeduo opened #14 "time and date BUG"
The blog display time is inconsistent with the actual time.

[2020-12-18 02:55] jeffreytse commented on #14
Hi @jadeduo

Could you show more details about this issue?

Thanks and regards

[2020-12-18 03:07] jadeduo commented on #14
I think I've solved it. It's my problem. Thank you!

[2020-12-18 03:07] #14 closed

[2020-12-27 17:50] Pixinn opened #15 "Visitor's choice Light vs Dark is not kept when another page is loaded"
If the light theme is forced by default using _night_mode: "off"_ and the visitor manually choose "Dark" with the widget, his setting is lost when he goes to another page. The new one is displayed with the light theme.
I think whatever the user's choice is, it should supersede the default setting of the site and be kept during the visit.

[2020-12-28 04:22] jeffreytse commented on #15
Hi @Pixinn

Firstly, thanks for your good suggestion on the dark mode setting. According to your description, I have improved the dark mode to better strategy. The new strategy is as below:

Whatever the user's choice is, it will supersede the default setting of the site and be kept during the visit (__session__). Only when the dark mode setting is `manual`, the user's choice will be always kept o

[2020-12-31 00:59] iogbole opened #16 "Gitment secret and TOC"
Hi @jeffreytse  and thanks for making this great theme. Is it possible to use GitHub secrets for the Gitment configuration instead of adding the client_secret  in the source code? https://github.com/jeffreytse/jekyll-theme-yat/blob/master/_config.yml#L135

Also, how can I disable TOC on the post pages? Many thanks

[2020-12-31 01:12] jeffreytse commented on #16
Hi @iogbole

About how to disable the TOC, you can see this issue #12.

Thanks and regards

[2020-12-31 01:27] iogbole commented on #16
thanks

[2020-12-31 01:28] iogbole opened #17 "Social media share icons"
Will you consider adding social media share icons, please? Thanks

[2020-12-31 01:42] jeffreytse commented on #17
Hi @iogbole

😃 Sure, I am considering this new feature to add social media share icons.
Welcome to star this project for further updates in future, and this feature is in progress and will come soon.

Thanks and regards

[2021-01-04 21:12] Pixinn opened #18 "Firefox Android: the menu bar does not disappear"
On Firefox Android (84.1.2), when you scroll down, then up, the "menu bar" does not disappear.
Firefox Windows is not affected.

**Screenshot Chrome (OK):**
![Screenshot Chrome (OK)](https://pub.xtof.info/github/issue_yat_chrome.jpg)

**Screenshot Firefox (KO):**
![Screenshot Firefox (KO)](https://pub.xtof.info/github/issue_yat_firefox.jpg)

[2021-01-05 10:30] jeffreytse commented on #18
Hi @Pixinn

🎉 Thank you very much for your reporting,  now this issue has been addressed and fixed.

Thanks and regards

[2021-01-08 01:10] mg979 opened #19 "Option to disable code type badge?"
To remove it, currently I have to copy the whole _sass directory and change _sass/yat/_base.scss, it's not ideal. Is there another way?

[2021-01-08 01:46] jeffreytse commented on #19
Hi @mg979

⛄ Currently, there is no option for disabling the badge of code, but I will extend it and add an option for this requirement. Welcome to star this project for further updates and features.

Thanks and regards

[2021-01-08 04:39] jeffreytse commented on #18
Hi @Pixinn

This issue has been fixed and the latest gem version ([v1.7.0](https://rubygems.org/gems/jekyll-theme-yat/versions/1.7.0)) has been released.
👍 Welcome to update to the latest version. Thanks for your good help!

Thanks and regards.

[2021-01-08 04:40] jeffreytse commented on #19
Hi @mg979

This feature has been supported and the latest gem version ([v1.7.0](https://rubygems.org/gems/jekyll-theme-yat/versions/1.7.0)) has been released.
👍 Welcome to update to the latest version. Thanks for your good help!

Thanks and regards.

[2021-01-08 14:17] mg979 commented on #19
Thanks works perfectly!

[2021-01-08 14:17] #19 closed

[2021-01-09 13:33] Pixinn commented on #18
I am sorry I did a terrible spelling mistake. I meant does not **disappear** 😑
When you scroll down, a menu bar appears. And when you scroll back to the top of the page, it should disappear. That is not the case when browsing with Firefox Android.

I just checked the "Live Demo" and the behavior is unchanged.

Here are two videos so you can see the different behavior between Firefox and Chrome.

*

[2021-01-09 13:35] Pixinn commented on #15
It's working great. Thanks! 👍🏻

[2021-01-09 13:35] #15 closed

[2021-01-10 14:05] TaketoWakabayashi opened #20 ""get_reading_time.html" is not support any languages"
Hi, @jeffreytse .
Thank you for your great theme.

I love your theme, and using for my Japanese blog with remote theme .
Then, I found the reading time is something wrong ...

I think {{ number_of_words }} liquid filter need "auto" or "cjk" option for Japanese.
https://github.com/jeffreytse/jekyll-theme-yat/blob/e3be95fe06ca57f7fa774e7b3d9efafe77cbb802/_includes/functions/get_reading_time.html#L12

[2021-01-11 03:37] jeffreytse commented on #20
Hi @TaketoWakabayashi

Thanks for your support. Now the issue has been addressed and settled down. And for better words counting, you can set the lang as below:

1. Setting the `lang` option for your whole site in `_config.yml`

[code]

2. Setting the `lang` page metadata for your specific article

[code]

Thanks and regards

[2021-01-11 09:15] TaketoWakabayashi commented on #20
@jeffreytse
Thank you for fixing !
It seems to work correctly. ❤️

I'm sorry for the language-related issue again, `truncatewords: 50` doesn't seem to work well for Japanese too...
https://github.com/jeffreytse/jekyll-theme-yat/blob/48d4da4f1b0ee6d8a095fca301e6f3486a35f0b2/_includes/views/pagination.html#L31

I'd be happy if you have good solution for this issue. 🙏

[2021-01-11 10:37] jeffreytse commented on #20
Hi @TaketoWakabayashi

Thanks for your reporting and the latest commit ( 4be8ad5 ) has settled down this issue.

Thanks and regards

[2021-01-11 12:50] TaketoWakabayashi commented on #20
Hi @jeffreytse
It seems to work correctly too !

Thanks a lot !
I appreciate your kind response. ❤️

[2021-01-11 12:50] #20 closed

[2021-01-12 03:01] jeffreytse commented on #18
Hi @Pixinn

I saw your videos and I will figure out this issue, any update I'll reply here, please be patient.

Thanks and regards

[2021-02-12 06:14] leejongyoung opened #22 "Support og tag"
Can you support og tag?
I want to see the detect and show post title information in the social network preview.

[code]

Offical Page
- [https://ogp.me](https://ogp.me)

## Origin Preview
<img width="246" alt="Screen Shot 2021-02-12 at 3 08 25 PM" src="https://user-images.githubusercontent.com/76589242/107735917-29b71480-6d44-11eb-90e3-1e800ca4669b.png">

## My page Preview
<img width="313" alt="S

[2021-02-13 10:26] jeffreytse commented on #22
Hi @leejongyoung

Thanks for requesting this feature, I will do some extra stuff for this new feature. Please be patient, I will update this as soon as possible.

Thanks and regards

[2021-02-14 07:14] illusion0001 opened #24 "Feature Request: Dark code blocks"
As title suggested, currently when viewing code blocks in dark mode, the background and text remain in light theme.

[2021-02-17 01:57] jeffreytse commented on #24
Hi @illusion0001

I will take a consideration for this feature request, welcome to star this repository for the updates in the near future.

Thanks and regards

[2021-02-19 16:39] illusion0001 commented on #24
https://github.com/illusion0001/illusion0001.github.io/commit/8d209cb

I changed the hardcoded colors instead. perhaps there's a better way to do this?

![image](https://user-images.githubusercontent.com/37698908/108533544-173e5d00-72a7-11eb-82a5-aa0a618ad147.png)

[2021-02-20 02:49] jeffreytse commented on #24
Hi @illusion0001

Yes, there is a better way by taking a dark theme for the code block. Now there are several open source works need to be maintained. Thanks for supporting my open source work! I will try to do this feature as soon as possible.

Thanks and regards

[2021-03-23 22:51] HolisticCurious opened #27 "Option to translate/not translate"
Hey! I really like the translation option, but I'm planning to post some things in Portuguese and I would like for them to remain in the original language, instead of being automatically translated. Is there a way to achieve that, blocking the translation? I'm new to this, so any advice would be great!

Thanks and really great work on this template!

[2021-03-24 04:09] jeffreytse commented on #27
Hi @HolisticCurious

Thanks for using this theme and welcome to star this project for further udpates in the future. In fact, the translation function will not automatically translate the page, it just does this when you manually choose a target language.

Thanks and regards

[2021-03-31 19:24] gkgaurav31 opened #28 "Unable to change the default heading and subheading"
I was using minima theme and I am trying to switch to YAT. I am trying to change the default heading and subheading.

I have tried this, but it didn't work:

defaults:
   home:
     heading: "my heading"
     subheading: "my subheading"
     banner: "Your image url"

It stays the same.

How can I change it?

[2021-03-31 20:07] gkgaurav31 commented on #28
I solved it using this:

    scope:
      path: ""
    values:
      heading: "A blog for anyone..."
      subheading: "and everyone."

[2021-03-31 20:07] #28 closed

[2021-03-31 21:03] gkgaurav31 opened #29 "page layout please"
I need to add certain pages which would include:
- about me
- how to contribute
- coming soon (posts)
A page layout would be perfect for this, which is missing in YAT.

Is it possible to add it? How?

[2021-04-01 02:11] jeffreytse commented on #29
Hi @gkgaurav31

You can custom and add these pages by yourself, here are some sites for your reference:

- [https://david.tennander.se/](https://david.tennander.se/)
- [https://work.ericcloninger.com/](https://work.ericcloninger.com/)
- [https://www.xtof.info/](https://www.xtof.info/)
- [https://almostobjective.com/](https://almostobjective.com/)
- [https://cvschmidt.com/](https://cvschmidt.com/)

[2021-04-07 03:53] #1 closed

[2021-04-07 03:54] #3 closed

[2021-04-07 03:55] #16 closed

[2021-04-13 15:15] cartoonpoet opened #30 "# TAG APPLICATION PROBLEM"
Hello
I am a new developer and college student who is using this blog well.
I am reporting you because there was a problem during use.
I used the # tag when I wrote the post, but it doesn't appear to be applied on the blog.
How can you solve it?

[2021-04-13 15:24] jeffreytse commented on #30
Hi @cartoonpoet

Could you try again with below code snippet?

[code]

Thanks and regards

[2021-04-13 16:01] cartoonpoet commented on #30
Hi @jeffreytse

I am using the code snippet

However, the problem is still occurring.

i attached picture

![K-088](https://user-images.githubusercontent.com/38898759/114583792-e84bd280-9cbc-11eb-81a2-5a3484a6ddba.jpg)

The part in the picture above that says 3.5 binary code is used, but it is not applied.

[2021-04-13 16:12] jeffreytse commented on #30
Hi @cartoonpoet ,

The tags appeared on  the image, so what do you mean? And could you clearify your issue again?

![image](https://user-images.githubusercontent.com/9413601/114584973-c00ca580-9cb5-11eb-9e69-da16f8920ff0.png)

[2021-04-13 16:27] cartoonpoet commented on #30
hi, @jeffreytse

Oh, I must have explained it wrong.
What I'm saying is "#" which is a mark-down sentence in the text.

![K-092](https://user-images.githubusercontent.com/38898759/114587130-52b24200-9cc0-11eb-87e3-3b51ca5ed3e2.jpg)

I typed as above.
However, the "#" markdown grammar has not been applied as shown below.

![K-093](https://user-images.githubusercontent.com/38898759/114587273-7675880

[2021-04-13 16:33] jeffreytse commented on #30
Hi @cartoonpoet, you're right. The `#` is for heading already, so you should use two hash signs at least `##`.

[2021-04-13 16:36] cartoonpoet commented on #30
Thank you. It was helpful.

[2021-04-13 17:31] jeffreytse commented on #30
Hi, @cartoonpoet

You're welcome! Any issue is welcome to ask me. And welcome to star this project for further updates in the future. :)

Best regards

[2021-05-02 15:35] MarkChenYutian opened #32 "Search page / Search box for the Theme"
This theme looks really great! However, it will be better if there is a search box for the theme.

In another Jekyll site I maintained (with ~100 posts) , I used a Jekyll plugin called [Simple-Jekyll-Search](https://github.com/christian-fei/Simple-Jekyll-Search) and it works great. However, as I am not familiar with either Sass or UI design, I am not able to add a search page with corresponding st

[2021-05-02 15:36] MarkChenYutian commented on #32
If it helps, here's a demo for Simple-Jekyll-Search on the Jekyll site I maintained. https://gwcompsci.gitee.io/secondary-pages/2021/04/12/Search.html

[2021-05-02 15:39] jeffreytse commented on #32
Hi @MarkChenYutian

Thanks for the issue, but currently I am busy, actually, this feature is on my plan, I will try to add this feature as soon as possible.

Thanks and regards

[2021-05-02 16:04] Shubham56-droid commented on #5
I can add navigation bar if you want

[2021-05-04 06:19] jeffreytse commented on #5
Hi @Shubham56-droid

Could you provide the details about the navigation bar?

Thanks and regards

[2021-05-15 10:45] manassadasivuni opened #36 "Removing post feed on homepage"
Is there a way to remove the post feed on the homepage?

[2021-05-15 12:25] jeffreytse commented on #36
Hi @manassadasivuni

Could you tell me what's the post feed?

Thanks and regards

[2021-05-16 02:45] coder-lg opened #37 "Theme not updated"
Hi. I set up the theme on my new blog yesterday. The theme didn't get updated then, so I thought that I should wait. It has been 13 hours since my last commit and the repo is new. Till now, the theme is not updated. What should I do to solve the problem?

[2021-05-16 03:42] manassadasivuni commented on #36
![image](https://user-images.githubusercontent.com/65581121/118384812-cda3ab00-b626-11eb-8774-d1e4aaa35015.png)

The part of the homepage underneath the banner

[2021-05-16 04:33] jeffreytse commented on #37
Hi @coder-lg

Could you tell me something about your problem? What didn't be updated? If you can give some screenshots, it's better.

Thanks and regards

[2021-05-16 05:48] coder-lg commented on #37
![image](https://user-images.githubusercontent.com/76845820/118386916-6b53a600-b638-11eb-8667-503024e00e6c.png)
It has been 15-16 hours since I created the repo and the theme is not updated at all.

[2021-05-16 06:48] jeffreytse commented on #37
Hi @coder-lg

I think it's your wrong configuration caused this issue, that is some resources not be loaded correctly. Please set your `baseurl` inside `_config.yml` to a correct value, as below:

[code]

Thanks and regards

[2021-05-16 07:05] coder-lg commented on #37
let me check and say, thanks

[2021-05-16 07:45] jeffreytse commented on #36
Hi @manassadasivuni

Yes, you can remove the post list by creating a new layout by yourself easily.

Thanks and regards

[2021-05-18 16:32] CypherpunkSamurai opened #38 "[BUG] Black header titles Dark Mode on mobile"
Hi, I tried this theme and the menu titles are unreadable in dark mode.

![](https://user-images.githubusercontent.com/66906402/118688933-242a0880-b824-11eb-9ae3-bba5980b854e.png)

![](https://user-images.githubusercontent.com/66906402/118689077-49b71200-b824-11eb-9295-5124b45c261b.png)

Also i would suggest please add another dark mode without #000000. It would suit the eyes better at night.

[2021-05-18 17:04] jeffreytse commented on #38
Hi @CypherpunkSamurai

Thanks for the reporting. Now this issue has been addressed and fixed, please update your code to the latest version.

Thanks and regards

[2021-05-18 17:12] CypherpunkSamurai commented on #38
Thanks. That was a crazy fast commit. Thank you for dedicating your time to this issue :)

[2021-05-18 17:12] #38 closed

[2021-05-20 07:25] CypherpunkSamurai opened #39 "[BUG] [PERFORMANCE] The theme javascript affects the performance for mobile and desktop"
# Description
So, I was testing out the theme and everything works fine except the rendered page performances.

## Logs / Reference Links
[Google PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/?url=https://jeffreytse.github.io/jekyll-theme-yat)

## Screenshots
![Google Page Speed Insights - 1](https://user-images.githubusercontent.com/66906402/118936831-8725b780-b96a-11

[2021-05-20 07:50] CypherpunkSamurai commented on #39
A few suggestions:
* Prevent loading un-required stylesheets and js files in `<head>`. Just load the basic css and js required for painting / loading the page
* Please use cdnjs instead of jsdelivr. I noticed jsdelivr is having problem since few days. You can also use [rawgithack](https://raw.githack.com/) to use github as a cdn.
* Fix your extension loading. Don't load extensions on homepage. (I

[2021-05-20 14:32] cartoonpoet opened #40 "Question : Can I add a comment to the post?"
Hello!

I'm a college student who is using the blog that Jeffreytse made very well.

After writing the post, I want to add it so that visitors can write comments at the bottom, and I want to know if you provide this feature!

[2021-05-20 14:43] jeffreytse commented on #40
Hi @cartoonpoet

Sure, this theme has provided the comment feature (Disqus, Gitment), and you need to config it by `_config.yml`.

You can have a glance at my [blog](https://jeffreytse.net), and welcome to star this project for further updates in the future. : )

![image](https://user-images.githubusercontent.com/9413601/118999140-96cdec00-b9bc-11eb-92b6-921e6bcaae4d.png)

Thanks and regards

[2021-05-21 18:01] CypherpunkSamurai opened #41 "Question: How can i customize the orange colored tags?"
Hi,
I want to customize the orange color in titles and tags. Can you please tell me how i can do it?

[2021-05-24 05:36] BadElement opened #42 "How to display the emoji?"
I like your theme very much, but I can’t solve this problem independently.

This is the demo from your Repository:
![图片](https://user-images.githubusercontent.com/52056834/119300704-ca966380-bc93-11eb-9844-2bd4ebcd7be7.png)

Here is mine:
![图片](https://user-images.githubusercontent.com/52056834/119300849-04676a00-bc94-11eb-89a5-9f1dc71cca5b.png)

[2021-05-24 05:57] jeffreytse commented on #42
Hi @BadElement

Firstly, thanks for loving this theme, and your issue is common. I would love to tell you that the emoji feature is supported by the [jekyll-spaceship](https://github.com/jeffreytse/jekyll-spaceship) plugin, this plugin is a third-party plugin, so that it can not be supported by the Github Page directly, as [the description](https://github.com/jeffreytse/jekyll-spaceship#additions-

[2021-05-24 08:00] BadElement commented on #42
那真是太棒了！
可是要如何避免填在build-jekyll.yml的token被git上传呢？
我看了你的博客的仓库，你没有在.gitignore里忽视build-jekyll.yml，但是却没有这个文件
如何做到的？？

====

that's awsome！
but,how to escape the token that is in build-jekyll.yml from being uploaded by git
i saw your blog repositorie，you didn't ignore the file in .gitignore,but it no such file
how done that?

[2021-05-24 08:20] jeffreytse commented on #42
@BadElement

You should study from the theme repository (i.e. [jekyll-theme-yat](https://github.com/jeffreytse/jekyll-theme-yat) and `.github/workflows/build-jekyll.yml`), and follow the instructions from [jekyll-deploy-action](https://github.com/jeffreytse/jekyll-deploy-action) step by step, the token is as a secrect and saving in the repository, others can not get it.

Thanks and regards

[2021-05-24 11:09] BadElement commented on #42
谢谢你的帮助！！！
我根据文档做好了设置
github action运行也没问题
![图片](https://user-images.githubusercontent.com/52056834/119338947-32b06e00-bcc3-11eb-9752-253adf25370b.png)

**但还是....错误**
https://badelement.github.io/

我根本找不出这个错误的原因
能帮助我解决这个问题吗？
不胜感激....

[2021-05-24 11:37] jeffreytse commented on #42
Hi @BadElement

I think it's your wrong configuration caused this issue, that is some resources not be loaded correctly.

Please set your `baseurl` inside `_config.yml` to a correct value, as below:

[code]

And check the option inside `.github/workflows/build-jekyll.yml`

[code]

Thanks and regards

[2021-05-24 12:08] BadElement commented on #42
显示正常了........
但是emoji错误仍然存在
1.
![图片](https://user-images.githubusercontent.com/52056834/119345499-8b840480-bccb-11eb-8f9a-69e8bdfa61bf.png)
2.
![图片](https://user-images.githubusercontent.com/52056834/119345533-95a60300-bccb-11eb-96bd-065ff199ddf5.png)

但这个却是正常的:
![图片](https://user-images.githubusercontent.com/52056834/119345648-be2dfd00-bccb-11eb-804c-4a82f00be8ac.png)

[2021-05-24 12:11] BadElement commented on #42
还有你可以在文字下面**增加**英文，这样就不用**替换**，保留中文方便中文读者啊23333
you can **add** English below the text, so you don't need to **replace**, and keep the Chinese for Chinese readers 23333

[2021-05-24 14:05] jeffreytse commented on #42
Hi, @BadElement

I think you did not add the [jekyll-spaceship](https://github.com/jeffreytse/jekyll-spaceship) plugin, please add it to your Gemfile as below

[code]

Thanks and regards

[2021-05-24 22:31] BadElement commented on #42
EMOJI显示正常了！
谢谢你的帮助！
Emoji display is normal!
thank you for your help!
![图片](https://user-images.githubusercontent.com/52056834/119414777-ce24fb80-bd22-11eb-8976-e01fbe6210e9.png)

[2021-05-25 00:15] BadElement opened #43 "Request to improve chinese-font display in TOC"
![图片](https://user-images.githubusercontent.com/52056834/119421401-324ebc00-bd31-11eb-95e9-b2bb35c3a471.png)
![图片](https://user-images.githubusercontent.com/52056834/119421463-527e7b00-bd31-11eb-8644-f55a682dc2db.png)

显示出的看着不舒服啊
Showing it is uncomfortable

[2021-05-25 00:17] BadElement commented on #43
第二个还好，其实还顺眼
但是第一个就很不舒服，粗细不一样啊
The second is ok, it is actually pleasing to the eye.
But the first one is very uncomfortable, the thick is different.

如果可以得到改进
那真是不胜感激
If you can improve
That is really grateful

[2021-05-25 01:04] jeffreytse commented on #43
Hi @BadElement

Are you talking about the font weight of TOC items? Some characters are bold as the heading in the article?

Thanks and regards

[2021-05-25 02:15] BadElement commented on #43
不是字体大小的问题
是TOC中字体的显示问题
有的粗有的细
![图片](https://user-images.githubusercontent.com/52056834/119429781-25869400-bd42-11eb-870e-fa7f453ca931.png)

但是在文章中就没有这个问题

[2021-05-25 03:09] jeffreytse commented on #43
Hi, @BadElement

Accordingly, it's the font family issue, could you provide me a page link to have a checking further?

Thanks and regards

[2021-05-25 07:48] BadElement commented on #43
好的:
OK:
https://badelement.vercel.app/done/2021/05/25/SHIT-1.html

[2021-05-25 08:26] jeffreytse commented on #43
Hi @BadElement

There is no problem in my enviroment, so I think it is the issue your system has no the corresponding font family.

![image](https://user-images.githubusercontent.com/9413601/119464726-9bf0b980-bd75-11eb-88e4-be88ea5e9540.png)

You can change the default font family by yourself in the `_sass/yat.scss` file.

Thanks and regards

[2021-05-25 08:34] BadElement commented on #43
正常了
感谢

Display is normal
thank you

[2021-05-25 15:21] BadElement opened #44 "Request repair page scrolling bug in categories.html"
这是错误页面：
this is error page:

![图片](https://user-images.githubusercontent.com/52056834/119523784-9e700500-bdaf-11eb-9384-42cb69034598.png)
https://badelement.github.io/categories.html

我发现中文的分类并不会随着点击而滚动
而英文的分类就可以
I found that Chinese text will not scroll when I clicked text
But the English text can do that

[2021-05-26 15:08] cartoonpoet commented on #40
Thank you!
I'll give it a try.

[2021-05-27 03:11] jeffreytse commented on #43
Hi @BadElement

Now the commit (de8c813aea0c96733c14de26305b3ad91a31ad80) has updated the default font family for better experience of the text display. If you have no more request, don't forget to close this issue.

Thanks and regards

[2021-05-27 03:22] jeffreytse commented on #41
Hi @CypherpunkSamurai

Thanks for your patience, the latest commit (c5212c60ad8058732c17b3107ffd1b6a05850bd4) has supported to customize the brand color. There is an option called `brand_color` in `_config.yml` for you to do it.

[code]

Also, there is another powerful plugin called [jekyll-spaceship](https://github.com/jeffreytse/jekyll-spaceship), I developped it and welcome to have a glance.

T

[2021-05-27 03:28] jeffreytse commented on #44
Hi @BadElement

This issue has been addressed and settled down. Please update your theme to the latest version.

Thanks and regards

[2021-05-27 04:01] CypherpunkSamurai commented on #41
Thanks for the info. Sure i'll check it out. :)

[2021-05-27 04:01] #41 closed

[2021-05-29 13:06] BadElement opened #45 "A nonexistent file in _config.yml"
![图片](https://user-images.githubusercontent.com/52056834/120071214-d2556e00-c0c0-11eb-9449-558d98e250c7.png)

我没有在仓库里找到这个文件
I didn't find this file(about.md) in the dir.

[2021-05-30 08:14] jeffreytse commented on #45
Hi @BadElement

It's the `about.html` now, and that's just an example for you to config the header menu items.

Thanks and regards

[2021-05-30 16:43] CypherpunkSamurai commented on #42
Usually github repo's don't have bilingual readme. If you want to contribute for a chinese readme feel free.

[2021-06-07 13:13] DasolU commented on #40
Hi :-) Thank you for this amazing blog theme. I love it so much!
I also having a trouble making gitment work.
I tried to add _config.yml like below image
![image](https://user-images.githubusercontent.com/80796260/121022112-03c6eb80-c7dd-11eb-9478-cfffa9531438.png)
However my blog still doesn't work like below image
![image](https://user-images.githubusercontent.com/80796260/121021821-bc405f80-c7d

[2021-06-07 13:28] jeffreytse commented on #40
Hi @DasolU

I think you used a wrong gitment username, please have a check.

Thanks and regards

[2021-06-23 03:47] #45 closed

[2021-06-23 03:47] #44 closed

[2021-06-23 03:48] #43 closed

[2021-06-23 03:48] #42 closed

[2021-06-23 03:48] #40 closed

[2021-06-27 06:53] jeffreytse opened #47 "Video banner auto playing is not working in Safari"
For the Safari on OSX, as the default websites `Auto-Play` option is `Stop Media with Sound`, this strategy can also introduce the permission issue.

![image](https://user-images.githubusercontent.com/9413601/123535620-7e898380-d757-11eb-91df-69bb9c822be4.png)

For the Safari on iPhone, the default websites `Auto-Play`options are not only `Stop Media with Sound` but also `Stop Media with FullScree

[2021-06-28 02:46] #47 closed

[2021-06-28 17:01] cartoonpoet opened #48 "[Question] Can ads be applied to blogs?"
Hello!

i have a question!

Can I apply ads to blogs?
ex) google adsense..

[2021-06-28 17:04] jeffreytse commented on #48
Hi @cartoonpoet

Sure, you can apply any ads that you want to the blog.

Thanks and regards

[2021-07-14 11:14] xietx1995 commented on #28
You should change it in data file: `_data/defaults.yml`

[2021-07-16 09:03] xietx1995 opened #49 "back-to-top button is great!"
YAT is better if there was a back-to-top button. I found one:

<https://github.com/vfeskov/vanilla-back-to-top>

It looks good, and you may want to add it at the bottom in the default layout file.

I changed the background color of the button to the brand color defined in `_config.yml`. Here is my site:

<https://xietx1995.github.io>

[2021-07-16 09:07] jeffreytse commented on #49
Hi @xietx1995

Thanks for the support. Actually, I'm planing to do this feature, just you mentioned me again, I will take time to support it. And welcome to star this project for further update in the future. : )

Thanks and regards

[2021-07-21 04:00] xietx1995 opened #50 "Does yat support sticky posts?"
I want some of my articles to always show on the top. It could be done by changing the date of posts, but it makes no sense.

[2021-07-21 04:08] jeffreytse commented on #50
You can do this by easily modifying the index page (i.e. index.html) simply to add your custom HTML content, such as the recommended articles. But this feature is interesting, I will take a consideration.

[2021-07-21 04:20] xietx1995 commented on #50
Yeah, it's great. Maybe adding a recommended articles area is a good idea! I think it is better than sticky posts. If it could be done by simply add an entry in the front matter, see `recommend: true`, it would be a nice feature.

[2021-07-27 02:19] Igortorrente opened #51 "Weird behavior with the sample"
First of all, Thanks for this incredible theme.
Second, I'm not sure if this is a problem of the theme or the Jekyll

For some reason, the sample below produces a wrong result. Does anyone have any idea of what could be?

[code]

![Screenshot_2021-07-26 testtttt](https://user-images.githubusercontent.com/18224386/127084419-1d09cee0-b2db-4cb7-ac58-4e97ddb7f1f7.png)

[2021-07-27 02:26] jeffreytse commented on #51
Hi @Igortorrente,

Firstly, thanks for your good issue and support to this theme. And I will take a look your issue as soon as possible, could you disable the plugin `jekyll-spaceship` and try again, I think it should be the plugin issue. Welcome to  star this project for further updates in the future. : )

Thanks and Regards

[2021-07-27 04:00] jeffreytse commented on #51
Hi @Igortorrente,

This issue has been created (jeffreytse/jekyll-spaceship#58) and settled down, please update your gem to the GitHub master version, here is the code snippet for your reference, just put this snippet to your `Gemfile`:

[code]

Thanks and Regards

[2021-07-27 12:33] Igortorrente commented on #51
Wow, this was quicky and solved the issue, thanks!!!!!!!!!!!!

[2021-07-27 12:33] #51 closed

[2021-07-29 06:31] jeffreytse opened #52 "Support to configure the max page content width"
Provide an option called `content_width` to users to configure the width of page content.

![image](https://user-images.githubusercontent.com/9413601/127443345-49c0deb7-1abd-41b3-b14c-3ac0d5c77356.png)

[2021-07-30 05:58] jeffreytse opened #53 "Support to custom page body image"
Provide an option called `body_image` to user to custom the page body image.

[2021-08-11 23:26] jtmullen opened #55 "TOC being auto "translated" to English"
I noticed this issue locally and noticed it also [appears on your blog](https://jeffreytse.net/about.html), so it must not be just a me issue.

Google translate is detecting TOC (the abbreviation for table of contents) as a Romanian word and translating it to english:
![image](https://user-images.githubusercontent.com/30645732/129115613-29b5f0be-921f-428f-aaa0-906aef4cedcf.png)

You can replicate

[2021-08-11 23:40] jtmullen commented on #55
Just tried this out since it was an easy change to hardcode:

https://github.com/jtmullen/jekyll-theme-yat/blob/1e4c9d46be52ea461cc9d89cd0ca8a0fd601f581/_includes/extensions/google-translate.html#L27

Seemed to work _most_ of the time. Once in a while when switching back to English it would change it to "heel" seemingly ignoring the site language. But I never saw it wrong in other languages, and c

[2021-08-12 02:30] jeffreytse commented on #55
Hi @jtmullen

Thanks a lot for the suggestion, I will follow up this issue as soon as possible.

Thanks and Regards

[2021-08-14 11:35] #55 closed

[2021-08-17 08:44] europani opened #56 "github-action error"
Hello.. Thank you for ur awesome theme...
I have a problem while hosting my post...
I pushed my commit but github-action failed..
Can you help me??

![image](https://user-images.githubusercontent.com/48157259/129693898-5258ba30-56b4-4067-80ea-567e6eb849d2.png)

![image](https://user-images.githubusercontent.com/48157259/129694194-91e09e1f-0de8-4860-b457-0d47622e499e.png)

[2021-08-17 11:17] jeffreytse commented on #56
Hi @europani

Do you still get this issue now?

Thanks and Regards

[2021-08-17 12:35] europani commented on #56
It was failed... but suddenly it's showing SUCCESS!!!
Did you do something for me??

[2021-08-18 01:34] jeffreytse commented on #56
Hi @europani ,

This issue is related to jeffreytse/jekyll-deploy-action#25.

Thanks and Regards

[2021-08-18 06:37] jeffreytse commented on #56
Hi @europani ,

Now this issue has been fixed completely, the details you can check the issue mentioned above.

Thanks and Regards

[2021-08-18 06:52] europani commented on #56
It worked well!!
thank you so much @jeffreytse

[2021-08-18 06:52] #56 closed

[2021-08-18 07:03] jeffreytse commented on #56
@europani  Good to hear that, welcome to star this project for further updates in the future. Hope you have a good day! : )

[2021-08-18 07:26] jeffreytse commented on #55
Hi @jtmullen

This issue has been settled down. Hope you have a good  day! : D

Thanks and Regards

[2021-08-18 11:38] dalpengholic opened #57 "Error from during GitHub Action"
Hello. First, thank you for wonderful theme.

I got this error during GitHub action at `Build jeffreytse/jekyll-deploy-action@v0.2.1`

[code]

Thank you

[2021-08-18 11:41] jeffreytse commented on #57
Hi @jeffreytse ,

Thanks for your support, and this issue has been settled, please check #56.

Thanks and Regards

[2021-08-18 12:15] dalpengholic commented on #57
Thank you so much!

[2021-08-18 12:15] #57 closed

[2021-08-24 11:07] #52 closed

[2021-08-25 03:18] xietx1995 opened #58 "how to delete the code related to translation?"
Hey, YAT is really great! The translation is also great. But my friends can't access URLs that belong to Google. So when they visit my site, the browser will be stuck at fetching the files related to translation. How can I delete the code related to translation?

[2021-08-25 03:24] jeffreytse commented on #58
Hi @xietx1995

To disable the Google Translation function, you should set the option `translate_langs` of `_config.yml` to an empty array, below is the code snippet.

[code]

Thanks and Regards

[2021-08-25 03:36] xietx1995 commented on #58
Thanks, I deleted the translate languages in the data file `_data/translate_langs.yml`. It works.

[2021-08-25 04:01] jeffreytse commented on #58
@xietx1995  Sure, it's another way for you to reach out. Glad to hear that you have settled down.

[2021-08-30 08:10] #58 closed

[2021-10-13 08:15] swaggypg opened #61 "HI！Can I remove the translation icon？"
I think the translation function doesn't mean much to me, so I try to remove the icon of translation on the header, but I couldn't find a way to remove it...Could you please tell me the specific method？
Thank you so much！
![F56D04P{HANFF}2U_NBNGQ7](https://user-images.githubusercontent.com/35105404/137094197-bdd125a0-9835-4c15-a6b6-f5fbf99f5269.png)

[2021-10-17 13:28] alexzhangs commented on #32
I implement a Search Box (Elasticsearch) for Yat Theme based on the work: https://blog.omc.io/elasticsearch-for-jekyll-part-1-ab456ac7c093.
It should be easy to apply to the blogs that are using default Yet Theme.
The demo: https://alexzhangs.github.io
The code: https://github.com/alexzhangs/alexzhangs.github.io

@jeffreytse If you would like, I could open a pull request, minor change on the confi

[2021-10-17 17:39] alexzhangs commented on #32
@jeffreytse

A branch is created with initial commits (not complete) at: https://github.com/alexforks/jekyll-theme-yat/tree/elasticsearch

Would you create a new branch for `jeffreytse/jekyll-theme-yat`, then I can open pull request upon it.
The changes I've made so far are not complete:
1. The search UI is built with Searchkit by using webpack, the output will be a `.js` file. Is it possible to h

[2021-10-18 07:12] alexzhangs commented on #32
Hi @jeffreytse

It sounds like a good idea. I'm not a ruby guy, and am not experienced with any Jekyll plugin before. Making the search box a part of Yat Theme is not so far to me, but to be a processor of Jekyll-spaceship you may want to construct the framework code. And let me know if there's any point I may help. I can push the code to a feature branch, then you may move forward from there, If

[2021-10-27 18:21] MohamedAliRashad opened #62 "Show posts based on language chosen"
I wanted to make two versions of the website based on the language the user will choose.
There will be posts for each language that i wanted to be displayed based on the language choice. How can i do something like this ?

[2021-11-01 07:31] vanhiupun opened #64 "How to modify the icon of a webpage ?"
Hi! I want to know how to change the icon of the website. I have been looking for a long time and I have no idea. Please tell me the specific method. Thank you so much!
![1635751592(1)](https://user-images.githubusercontent.com/89436345/139636742-0e7346b2-6ff9-4de1-a3cc-9460c9e39dc8.jpg)

[2021-11-01 11:52] jeffreytse commented on #64
Hi @vanhiupun

You should use [the favicon option](https://github.com/jeffreytse/jekyll-theme-yat/blob/ac3833777c63ae6bc66c59275a2c6dccef16b762/_config.yml#L52) in the `_config.yml`

Thanks and Regards

[2021-11-08 07:53] YuJinSong412 commented on #5
Hello,
While searching, I. saw your blog. I really want to decorate it like that.
I want to change the navigation order at the top like you.

Originally -> ABOUT ARCHIVES CATEGORIES HOME TAGS
you changed -> HOME ARCHIVES CATEGORIES TAGS ABOUT

How did you do it?
And I want to change their names. Also I want to add something new.

Is everything I want possible?

Thanks and regards

[2021-11-08 11:12] jeffreytse commented on #5
Hi @YuJinSong412

You can configure your head navigation bar via the option [header_pages](https://github.com/jeffreytse/jekyll-theme-yat/blob/ac3833777c63ae6bc66c59275a2c6dccef16b762/_config.yml#L149) in the `_config.yml` file.

Thanks and Regards

[2021-11-22 08:15] vanhiupun commented on #64
Hello, during the process of creating my website, I found a problem. After I click into the article, my website icon is not displayed. Is this a problem with my misconfiguration?
![image](https://user-images.githubusercontent.com/89436345/142826067-0ed6d917-c343-4d75-bbc5-2a000de5e9fd.png)

[2021-11-22 08:25] jeffreytse commented on #64
Hi @vanhiupun

For the favicon resources, please use absolute path, do not use a relative path such as `foo/bar/baz.ico` or `./foo/bar/baz.ico`.

Thanks and Regards

[2021-11-22 08:39] vanhiupun commented on #64
@jeffreytse
This problem has been resolved. thank you very much!

[2021-11-25 07:41] #64 closed

[2021-11-25 07:52] vanhiupun opened #66 "How to modify the style of the navigation bar"
Hi!  @jeffreytse

I want to modify the style of the navigation bar, what should I do

1. Change `text` to `icon`
2. Add an `icon` to link it to my `GitHub repository`

Looking forward to your reply

[2021-11-26 14:29] #66 closed

[2021-11-26 14:41] vanhiupun opened #67 "Modify the menu bar style"
Hi! @jeffreytse

I add icon behind the menu bar to link to the warehouse
Something like this

![QQ20211126-222525](https://user-images.githubusercontent.com/89436345/143596438-790ec240-5ad1-4e7f-8bf5-5a62a13bde1d.png)

Now I want to change the menu bar to this type.
<https://docs.docker.com/>
Can you tell me how to modify it?

Looking forward to your reply, thank you very much!

[2021-12-04 11:19] jeffreytse commented on #67
Hi @vanhiupun

Thanks for your issue, sorry for the late reply, recently I'm quite busy. If you want this kind of head style, you should modify the css style under the `_sass` folder.

Thanks and Regards

[2021-12-04 11:21] jeffreytse commented on #62
Hi @MohamedAliRashad

Thanks for your issue, sorry for the late reply, recently I'm quite busy. Now this theme doesn't support this feature, I will take a consideration to add this feature in the future, welcome to star this project for further updates.

Thanks and Regards

[2021-12-04 14:34] vanhiupun commented on #67
Hi!@jeffreytse
Thank you for your reply, I will look into it

[2021-12-21 02:51] 2horse9sun opened #69 "TOC won't scroll when it's too long"
Hello,
I've found a problem here. When TOC becomes too long, it won't scroll down automatically to keep consistent with the post content.
![image](https://user-images.githubusercontent.com/67039432/146862421-88194317-c4e6-493c-899a-f392b854a44e.png)

[2022-01-04 08:10] swaggypg opened #71 "How to activate google-analytics？"
Hi！ I have seen the google_analytics.html file in the _includes/extensions and there is some code about google_analytics in _config.yml too. But I don't really understand how to activate this function. Could you please tell me about it? Thank you very much!
![QQ截图20220104160717](https://user-images.githubusercontent.com/35105404/148028331-2b3bdeb5-a0b6-402c-8dce-4f53dac24d47.png)

[2022-01-10 15:35] jeffreytse commented on #71
Hi @swaggypg

Recently I'm quite busy, and sorry for the late reply. Actually, you can refer to [this line](https://github.com/jeffreytse/jekyll-theme-yat/blob/ca55fc49b25a05704ffb60b80d562f62d8ab0231/_includes/head.html#L13), it will check if your google_analytics property isn't null, then will include relevant code to the header.

Thanks and Regards

[2022-01-10 15:37] jeffreytse commented on #69
Hi @2horse9sun

Sorry for the late reply, recently I'm quite busy. I'm aware of the issue you've mentioned, and I'll consider fixing it in my spare time. Welcome to star this project for further updates in the future.

Thanks and Regards

[2022-01-11 09:28] giuliomagnifico opened #72 "Some troubles with self-hosted jekyll"
Hi, Im build my site on my VPS with your (beautiful, thanks) theme, but I'm having some troubles with the baseurl in config.yml.

[code]

Now is empty and my site is correct, but your theme doesn't load some resources like images/banner. I think the theme works fine when used on GitHub pages with the baseurl path but it has some troubles when it has the baseurl path empty, or something similar. I

[2022-01-11 14:37] jeffreytse commented on #72
Hi @giuliomagnifico

Please check your baseurl, I think you have a wrong baseurl.

Thanks and Regards

[2022-01-11 21:11] giuliomagnifico commented on #72
Thanks for the reply @jeffreytse,the trouble was with the the installation method with gem, it wasn't loading correctly some resources, I've manually put all of your theme files in my VPS and now works perfectly. Is working without the baseurl, it's empty but it's correct for my installation.

[2022-01-12 08:52] giuliomagnifico commented on #72
I'm also having troubles with the order of the categories, using the config.yml nothing is changing after I modified the layout. Is there another way to change the order of the pages/menu?

![Screen Shot 2022-01-12 at 09 49 13](https://user-images.githubusercontent.com/1975176/149094844-5cea7c2e-e439-41ec-bcf4-a3f9bcf8933f.jpeg)

[2022-01-12 10:53] jeffreytse commented on #72
@giuliomagnifico The category items should have indentation according to the yml format.

[2022-01-12 12:48] giuliomagnifico commented on #72
Damn thanks, what a mistake sorry, this solved my trouble.

[2022-01-12 15:54] jeffreytse commented on #72
@giuliomagnifico You're welcome, hope you have a good day! : )

[2022-01-22 11:26] Rotzbua opened #75 "Offline usable version / selfhost dependencies"
Is there an option to make this template offline usable?
So far as I analyzed there are a lot of external dependencies which could be selfhosted.
The external resources are also problematic if an template user is forced to set up an privacy policy.
Selfhosting most of the resourced would be privacy friendly and add offline capability.
Furthermore, unsecured external dependencies have the potential

[2022-02-06 14:28] thomaskrampe opened #78 "Need more information about the hidden parameter"
Example:
[code]
What else can I hide?

[2022-02-21 15:10] jaehwi0823 opened #80 "mathjax is not working"
not only my folked site, but the demo site doesn't showing math formula as expected

https://jeffreytse.github.io/jekyll-theme-yat/markdown/2018/05/26/mathjax-test.html

[2022-03-22 04:40] #72 closed

[2022-03-22 04:45] jeffreytse commented on #75
Hi @Rotzbua

Thanks for your good issue. Now, there are some issues about security on the template. Actually, no option to make this template offline usable, you can fork this project for your customization to solve your concern currently.

Thanks & Regards

[2022-03-22 04:50] jeffreytse commented on #78
Hi @thomaskrampe

Sorry for the late reply, the hidden parameter is for hiding some sections of a page.  You can see [the source code](https://github.com/jeffreytse/jekyll-theme-yat/blob/98234f87d2bcadf0263d4dd5be27fb2c7585d628/_layouts/post.html#L28) to understand what it actually does.

Hope you have a good day! : )

Thanks & Regards

[2022-04-09 14:00] fabformG opened #85 "Add fabform.io contact form to the template"
Add fabform.io contact form to the template

Can I create a pull request with a  [fabform.io](https://fabform.io/) contact us page added to the template?

[2022-05-03 18:22] hawkingrei opened #86 "how to set excerpt by myself."
I find that the excerpt is set by the theme. I want to set it by myself. I try to set ```excerpt_separator``` but no effect.

[2022-05-14 10:12] sjchasel commented on #80
Have you solved the problem?

[2022-05-16 14:17] mangbaam opened #87 "How to make Alert or Callout?"
I looked at various ways to use `Alert` or `Callout`, but couldn't find a way.

In many examples use `{% include warning.html title="some title" content="some contents" %}` for `Alert`,
and `{% include callout_v2.html type="danger" content="some contents" %}`  for `Callout`.

Even the [sample post][sample_post] provided by the `YAT theme` uses the following method, but it still does not work.
![im

[2022-05-31 20:27] lavine-lmu commented on #32
any plan to do this? or some suggestions? Thanks!

[2022-06-01 20:14] jacoporepossi opened #89 "Sitemap with relative URLs and Google Search Console"
Hi there,

First of all, thank you for this great theme that I am currently using for [my site on github pages](https://github.com/jacoporepossi/learningq).

I have a problem with the sitemap generation to allow google to index the posts I am adding.
By looking at the [sitemap](https://jacoporepossi.github.io/learningq/sitemap.xml), it looks like I'm correctly generating everything with absolute p

[2022-06-02 02:13] jeffreytse commented on #89
Hi @jacoporepossi,

I have checked your generated [sitemap.xml](https://github.com/jacoporepossi/learningq/blob/gh-pages/sitemap.xml) file,  all links are right. It should be something else made it happened.

Thanks & Regards

[2022-06-02 03:11] jeffreytse commented on #32
Hi @lavine-lmu

I'm quite busy recently, but welcome you to do any contribution.

Thanks & Regards

[2022-06-02 10:38] jacoporepossi commented on #89
Hi @jeffreytse , thanks for your time and reply.

Any idea what could be the cause?

[2022-06-10 08:43] jacoporepossi opened #90 "Google Analytics 4 Tag - Data not received"
Hi there,

I'm having some issue switching from GA to GA4, as the tag changes from UA-xxxxx to G-xxxxx.
I simply tried to change my [_config.yml](https://github.com/jacoporepossi/learningq/blob/main/_config.yml) but with no success.

Any idea on how to fix the tracking?
Thank you!

[2022-06-10 09:24] jacoporepossi commented on #90
As a test, I tried to update my [google-analytics.html](https://github.com/jacoporepossi/learningq/blob/main/_includes/extensions/google-analytics.html) following the minima example I linked before and now it works.

However I don't know if my solution is reliable or not since I was not the author in the first place 😄

[2022-07-16 04:28] Lingxuan-Ye opened #94 "How to use collections?"
Hello,

I would like to know if I can put all my posts to several collections instead of listing them on the homepage. It seems that categories and archives will not work if I follow the instruction of [Jekyll Tutorial](https://jekyllrb.com/docs/step-by-step/09-collections/).

Thx.

[2022-07-27 11:09] METEORITENMAX commented on #5
Hello,
i want to change the head navigation bar. Some of the header_pages should be a "dropdown" button. E.g.  headerpages as dropdown with related subpages

Home:
  - Software
  - Hardware
  - About
Publications
More:
  - Archives
  - Tags
  - Categories
Contact

[2022-08-30 03:58] dogweather opened #98 "Is there a way to override CSS without unpacking the gem?"
I'd like to override just the font size. In development, I'm trying this in `assets/main.scss`:

[code]

But I get the error:

[code]

[2022-08-30 04:39] dogweather commented on #98
Ah hah — I'm able to get an override by;

1. Importing `yat`.
2. Copying and pasting the theme's `main.scss` content into mine, and then adding my overrides there.

That's not a lot of duplication - just the one `main.scss` file. Is this the best way, do you think?

[2022-08-30 06:01] jeffreytse commented on #98
Hi @dogweather

You're right, that is the best way to do an override for you. : )

Thanks & Regards

[2022-08-30 06:35] dogweather commented on #98
Thanks!

[2022-09-02 13:57] bxrjmfh opened #99 "Could I edit the top bar to another language ?"
<img width="688" alt="image" src="https://user-images.githubusercontent.com/79852164/188164238-b9654d38-6c26-4601-a650-e8971a50f343.png">

I want to change the word in red box in my origin language , but I'm new in jekyll , cannot find this part in source code ...
Thanks for your reply and help !!

[2022-09-02 14:22] #99 closed

[2022-09-08 03:04] bxrjmfh opened #100 "Report a tag error"
I'm a Chinese user of this theme. I find a problem that when using full-width punctuaction (：) in tag the url automaticly turned the tag to half-width puntuaction (:) . So it occured the 404 not found problem. This is some snapshot below:

![](https://lh-picbed.oss-cn-chengdu.aliyuncs.com/20220908110002.png)

when change it to "full-width" punctuation, it works well:

![](https://lh-picbed.oss-cn-

[2022-09-10 14:44] jeffreytse commented on #100
Hi @bxrjmfh

Thanks for your reporting, I will take a look the issue as soon as possible. : )

Thanks & Regards

[2022-09-10 15:42] bxrjmfh commented on #100
haha,you're welcome.
I'm glad to make tiny contribution to this good theme😊😊

[2022-09-24 05:34] lsousadev opened #101 "Homepage sidebar to show post list"
Setting "sidebar: archive-list" in _layouts/articles.html gives me the image below:

![image](https://user-images.githubusercontent.com/58236463/192081679-2f4503a2-f0ab-44fb-a445-7bdeb39b527b.png)

I'd like for it to list the names of the posts, ideally by year if possible.

I tried tinkering with _includes/functions/get_datetimes.html but I'm not getting anywhere.

Any help is appreciated. Thank

[2022-09-29 23:39] lsousadev commented on #101
@jeffreytse please kindly advise

[2022-10-01 02:16] jeffreytse commented on #101
Hi @lsousadev

Thanks for your issue, I'm not really understand your meaning, could you give me an example?

Thanks & Regards

[2022-10-02 09:41] dukechain2333 commented on #51
Hi!
I was using Github Actions to publish my pages and also added the following snippet to my Gemfile. However, Mermaid still not working properly.
[code]
And this is what my pages look like.
![image](https://user-images.githubusercontent.com/57356723/193447847-e7c68037-8682-42d0-8239-5cd20efdb9e0.png)

And my Gemfile looks like this
![image](https://user-images.githubusercontent.com/57356723/1934

[2022-10-02 09:54] jeffreytse commented on #51
Hi @dukechain2333

It's your configuration isn't correct, you can check the README of [jekyll-deploy-action](https://github.com/jeffreytse/jekyll-deploy-action) step by step, and please ensure that you have `gh-pages` branch in your repo.

Thanks & Regards

[2022-10-02 10:31] dukechain2333 commented on #51
Problem Solved. Thank you.

[2022-10-02 15:02] dukechain2333 opened #102 "How to change code highlight theme and code background?"
I've been searching for the method to change the code highlight theme and code background. However, I didn't find where it is.

I may need some help on this. Thanks.

[2022-10-02 15:04] dukechain2333 commented on #102
I know `rouge` is a good code highlight plugin and I tried to use it. But I failed to implement it. It's just not working.

[2022-10-05 12:52] hyojiness commented on #5
Hello, I want to rename and delete the navbar, but it doesn't change. I changed it as follows using _config.yml, but it does not work.  is this correct? Help.

`# If you want to link only specific pages in your header, uncomment
# this and add the path to the pages in order as they should show up
header_pages:
  - index.html
  - about.md
  - study.html`

[2022-10-09 02:05] #102 closed

[2022-11-06 10:04] SRombauts commented on #90
One way to achieve that without overriding the HTML file locally, is to actually switch to the latest version of the minima bundle, using `remote_theme: jekyll/minima` instead of `theme: minima` in your `_config.yml`

I used that while also trying to update to GA4 and Dark mode: https://stackoverflow.com/a/70721593/1163698